h2{
  color: rgb(0, 102, 255);
}

.get_started_button{
  color: white;
  text-decoration: none;
  font-weight: 700;
  background-color: black;
  padding: .5rem .6rem; 
  border-radius: .5rem; 
  cursor: pointer;
  transition: 300ms;
  border: none;
}

.get_started_button:hover{
  box-shadow: .2rem .3rem rgba(0, 0, 0, 0.096);
  transition: 300ms;
}

.login_hover{
  color: rgb(0, 102, 255);
  text-decoration: none; 
  font-weight: 700;
  cursor: pointer;
}

.login_hover:hover{
  color: rgb(126, 178, 255);
  text-shadow: 0rem 0rem .1rem rgba(0, 0, 0, 0.24);
}

.pipe_image{
  width: 70%;
  flex: 1;
}

.img_axon_pipe{
  display: flex;
  flex: 1;
  justify-content: center;
}

.hero_container{
  padding: 2rem 3rem;
  display: flex;
  flex: 1;
  align-items: center;
  gap: 1rem;
}

.left_div{
  z-index: -0;
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.137);
  background-color: rgb(20, 20, 20);
  color: white;
  font-family: Kanit, sans-serif;
  font-size: larger;
  flex: '.16';
  display: flex;
  flex-direction: column;
}

.tab{
  width: 100%;
  height: max-content;
  padding: .7rem 0rem;
}

.send_button:hover{
  transform: scale(1.1);
  transition: 200ms;
}

.message_stack{
  scrollbar-color: white transparent;
  scrollbar-gutter: auto;
  scrollbar-width: thin;
  scrollbar-arrow-color: black;
}

.option{
  display: flex;
  flex: 1;
  border: .2rem solid black;
  border-radius: .5rem;
  padding: .3rem .7rem;
}

@media only screen and (max-width: 600px) {
  .hero_container{
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  .img_axon_pipe{
    display: none;
  }

  .left_div{
    z-index: -0;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.137);
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: Kanit, sans-serif;
    font-size: larger;
    flex: 0;
    display: none;
  }
}